{
    email admin@scanorbit.io
}

scanorbit.io {
    root * /srv/landing
    file_server

    handle /app/* {
        reverse_proxy app:80
    }

    handle /api/* {
        reverse_proxy api:4000
    }
}

www.scanorbit.io {
    redir https://scanorbit.io{uri}
}
